/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #2c3e50;
  background-size: auto 100vh; 
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    background-attachment: fixed;
    background-size: cover;
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
   
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
  font-size: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
              0 3px 1px -2px rgba(0, 0, 0, .2),
              0 1px 5px 0 rgba(0, 0, 0, .12);
}

.icone {
  color: rgba(255, 249, 236, 0.22);
  position: fixed;
  bottom: 1em;
  right: 1em;
  text-decoration: none;
  font-size: 1.8em;
  border-radius: 30px 10px;
  z-index: 999;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu li {
 list-style: none; 
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
  background-color: #34495e;
  color: white;
  text-decoration: none;
}

a {
  color: #5383e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@keyframes animacaoTitulo {
  from {
    width: 0;
  }
  to {
    width: 7.1em;
  }
}

@keyframes blinking-title {
  from{
      border-right: 2px solid rgba(255, 255, 255, 0.75);

  }
  to{
      border-right-color: transparent;
  }
}

@keyframes subtitle-animation {
  100%
  {
   opacity: 1;
  } 
}

.site-subtitle, 
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-size: 4em;
  font-family: 'Roboto', sans-serif;
  animation: blinking-title 500ms steps(40) infinite normal, animacaoTitulo 2s steps(40) 0.5s normal both;
}

.site-subtitle {
 opacity: 0;
 font-style: italic;
 font-family: 'Ubuntu', sans-serif;
 line-height: 1.8em;
 animation: linear 1s 2.5s subtitle-animation forwards;
}

.sobre,
.contato,
.portfolio {
  padding: 2.5em;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family: 'Ubuntu', sans-serif;
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.sobre p {
  color: white;
  text-indent: 1.4em;
  margin-bottom: 1.4em;
  text-align: justify;
}

.sobre a {
  color: white;
  text-decoration: underline;
}

.sobre a:hover {
  background-color: cyan;
  text-decoration: none;
  color: magenta;
}

.sobre .avatar {
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  float: right;
  margin-left: 1em;
}

@media (min-width: 600px) {
  .sobre .avatar {
    float: right;
    margin-right: 1em;
    margin-left: 2em;
    object-fit:cover;
    height: 50vh;
    width: 50vh;
  }
}

.scroll {
  position: absolute;
  width: 5vh;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-35%);
  padding-top: 200px;
}

.scroll:hover {
    width: 6vh;
    transition: transform .8s;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

.flip-card {
  height: 180px;
  perspective: 1000px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 3s;
}

.card-front, 
.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
  height: 180px;
  width: 100%;
  transform: rotateY(180deg);
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
  transition: transform 500ms;
}

/* .img-portfolio:hover {
  transform: scale(1.2) rotate(-2deg);
} */

.contato .icons {
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover  {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255,255,255,.5);
}

.follow {
  color: whitesmoke;
  text-align: center;
  margin-bottom: 40px;
}