
/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  }
  
/* breakpoint */
 @media (min-width: 600px) {
     body {
         background-attachment: fixed;
         background-size: cover;
         font-size: 18px;
        }
    }
/* breakpoint */
@media (min-width: 1200px) {
    body {
     
      font-size: 20px;
    }
  }
  
@media (min-width: 1200px) {
    .container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
        }
     }

@media (min-width: 600px) {
        .sobre .avatar {
          float: right;
          margin-right: 1em;
          margin-left: 2em;
          object-fit:cover;
          height: 50vh;
          width: 50vh;
        }
      }
      
      @media (min-width: 560px) {
        .portfolio .grid {
          grid-template-columns: 240px 240px;
        }
      }
      
      @media (min-width: 880px) {
        .portfolio .grid {
          grid-template-columns: repeat(3, 260px);
          align-content: center;
          justify-content: center;
          height: calc(100vh - 8em - 48px);
        }
      }